// ***************
// Setting Footer
// ***************
// Social Media
.list-unstyled {
    li {
        height: 40px;
    }
}
// Legal Privacy Policy
.legal__menu__footer {
    list-style-type: none;
    padding-inline-start: 1rem;
    margin-block-end: 0;
    li a {
        color: $gray-100;
        text-decoration: none;
        text-transform: uppercase;
    }
}
